@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@font-face {
  font-family: 'Radial';
  src: url('./assets/fonts/radial-light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Radial';
  src: url('./assets/fonts/radial-regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Radial';
  src: url('./assets/fonts/radial-medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Radial';
  src: url('./assets/fonts/radial-bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'PP';
  src: url('./assets/fonts/pp-formula-light.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'PP';
  src: url('./assets/fonts/pp-formula-bold.otf');
  font-weight: 700;
}

/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: 'Radial', sans-serif;
  background-color: #fef9ef;
  scroll-behavior: smooth;
}

main {
  min-height: 80vh;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  display: inline-block;
  font: inherit;
}
input {
  outline: none;
}
button {
  cursor: pointer;
  outline: none;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
